* {
  box-sizing: border-box;
}

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #333;
  --light-accent-color: #c0c0c0;
  --dark-accent-color: #d0d0d0;
  --cta-color: #ff6600;
}

body {
  width: 100%;
  height: 100%;
  font-family: "helvetica", sans-serif;
  margin: 0;
  background-color: var(--primary-color);
}

main {
  width: 100%;
  height: 100%;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 50px;
  background-color: #333;
  padding: 20px;
}

h1 {
  margin: 0;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

textarea {
  border-color: none;
  width: 100%;
  height: 100%;
  min-height: 100px;
  border-radius: 0;
}

button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.text-light {
  color: var(--primary-color);
}

.chat-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  height: auto;
  gap: 20px;
  width: 100%;
  margin: 50px auto;
}

.question {
  grid-column: 2 / 2 span;
  grid-row-start: 1;
  background-color: var(--light-accent-color);
  padding: 10px;
  width: 100%;
  height: auto;
}

.answer {
  grid-column: 1 / 2 span;
  grid-row-start: 2;
  background-color: var(--dark-accent-color);
  padding: 10px;
  width: 100%;
  height: auto;
}
